@mixin menuButton {
    .menu-button {
        position: relative;
        color: white;
        margin: 0 20px;

        &>a {
            display: block;
            color: $color-shade--light;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }
}

@mixin menuButtonDesktop {
    .menu-button {
        height: $height;
        &>* {
            min-width: 100px;
            height: $height - 10px;
            $line-height: $height - 10px;
            line-height: $line-height;
            margin-top: 5px;
            padding: 0 10px;
            text-align: center;
            
            background-color: $color-shade--dark;
            color: white;
            border-radius: 4px;
            &:hover {
                background-color: $color-red;
            }
        }
    }
}