 @import "../../sass/base.scss";
 @import "./menuToggleButton";
 @import "./menuLink";
 @import "./menuButton";
 @import "./variables";




 @mixin Desktop {
     & {
         display: flex;
         min-height: $height;

         & .nav-bar__logo {
            height: $height - 20px;
        }

         & .menu {
             position: initial;
             width: auto;
             transition: initial;
             top: initial;
             left: initial;
             overflow: visible;
             margin-right: 10px;

             display: inline-flex;

             &.active {
                 left: initial;

                 & .menu-sub {
                     display: none;
                 }
             }

             & .sub-menu {
                 display: none;
             }

         }
     }
 }


 .nav-bar {
     background-color: $color-black;
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: fixed;
     left: 0px;
     top: 0px;

     &*{
        font-family: $font-family;
        font-weight: $font-weight;
        font-size: $font-size;
     }

     & a {
         font-family: $font-secondary;
         height: 40px;
         min-height: 40px;
         line-height: 40px;
         text-decoration: none;
         color: inherit;
     }

     & .menu-toggle-button {
        //  position: absolute !important;
        //  top: 0;
        //  right: 20px;
        margin-right: 20px;
     }

     & .menu {
         max-height: 80vh;
         overflow-y: auto;
         position: absolute;
         width: 100%;
         transition: left ease-in-out 1s;
         top: 100%;
         left: -100%;
         background-color: inherit;

         &.active {
             left: 0px;
         }

     }

     & .nav-bar__logo {
         height: 30px;
         width: auto;
         margin-left: 20px;
     }

     & {
         @include menuToggleButton
         
     }

     & {
        @include menuLink
     }
     & {
        @include menuButton
     }

     &.--small {
         @include breakpoint("small") {
             @include Desktop;
             @include menuLinkDesktop;
             @include menuButtonDesktop;
         }
     }

     &.--medium {
         @include breakpoint("medium") {
             @include Desktop;
             @include menuLinkDesktop;
             @include menuButtonDesktop;
         }
     }

     &.--large {
         @include breakpoint("large") {
             @include Desktop;
             @include menuLinkDesktop;
             @include menuButtonDesktop;
         }
     }

 }

