@import "../../sass/base.scss";
    
.nav-bar{
    display: flex;

    font-family: $font-secondary;
    font-weight: 300;

    @include breakpoint("small") {
        height: 50px;
    }
    @include breakpoint("medium") {
        height: 60px;
    }
    @include breakpoint("large") {
        height: 80px;
    }
}

.nav-bar__logo{
    margin: 5px;

    @include breakpoint("large") {
        margin: 15px
    }
}

.nav-bar__links-wrapper{
    display: flex;
    width: 100%;
    &.center{
        justify-content: center;
    }

    &.right{
        justify-content: flex-end;
    }
}


.nav-bar__links{
    display: inline-flex;
}

.nav-bar__links .nav-link-list__item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;

    @include breakpoint("medium") {
        &:hover{
            & .nav-bar__links--sub{
                display: flex;
                flex-direction: column;
            }
        }
    }
    & .nav-bar__links--sub{
        display: none;
        position: absolute;
        top: 100%;
        min-width: 150px;
        text-align: left;
        border: 1px solid $color-shade--light;
        border-top: 1px solid $color-red;
        background-color: $color-shade--dark;
        padding: 0 $padding-md;



        & .nav-bar__link--sub{
            display: block;
            padding: $padding-sm;
            border-bottom: 2px solid $color-shade--light;
            text-decoration: none;
            text-transform: capitalize;
            color: $color-shade--light;
            &:hover{
                color: white;
            }
        }

        & li:last-of-type{
            & .nav-bar__link--sub{
                border: none;
            }
            
        }
        
    }
}

.nav-bar__link{
    text-decoration: none;
    text-transform: uppercase;
    color: $color-shade--light;
    margin-right: 20px;
    letter-spacing: 2px;
    @include breakpoint("medium") {
        &:hover{
            color: white;
            & .nav-bar__link--sub{
                display: flex;
            }
        }
        padding: 10px 20px;
    }
    @include breakpoint("large") {
        padding: 20px;
    }

    &.active{
        color: white;
        border-bottom: 2px solid $color-red;
    }

}
.nav-bar__button{
    display: flex;
    color: white;
    background-color: $color-shade--dark;
    border-radius: 5px;
    &:hover{
        border: none;
        background-color: $color-red;
    }
}


