@import "../../sass/base.scss";
    
.header{
    background-color: black;
    height: 93vh;

    @include breakpoint("small") {
        padding: $padding-sm;
    }
    @include breakpoint("medium") {
        padding: $padding-md;
    }
    @include breakpoint("large") {
        padding: $padding-lg;
    }

}