@import "../../sass/base.scss";
    
.header{
    background-color: rgb(9, 121, 115);
    height: 30vh;

    @include breakpoint("small") {
        padding: $padding-sm;
    }
    @include breakpoint("medium") {
        padding: $padding-md;
    }
    @include breakpoint("large") {
        padding: $padding-lg;
    }

}